nz-header {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.alert-new-message {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    color: black;
}

.active-message {
    animation: animateNewMessage 2s infinite ease-in-out;
}

@keyframes animateNewMessage {
    0% {
        color: black;
    }
    50% {
        color: #52c41a;
    }
    100% {
        color: black;
    }
}