<nz-layout class="container-admin">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <admin-navbar [isCollapsed]="isCollapsed"></admin-navbar>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <admin-header [isCollapsed]="isCollapsed" (emitCollapsed)="changeValue($event)"></admin-header>
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>
            <admin-footer></admin-footer>
        </nz-footer>
    </nz-layout>
</nz-layout>