$max-height-users:620px;
$max-height-chat:500px;
.chat-container {
    width: 900px;
    height: 660px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    margin: auto;
    gap: 10px;
    padding-top: 20px;
    &__users {
        width: 100%;
        height: auto;
        background: #001529;
        padding: 10px 0px 10px 0px;
    }
    &__users-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0px;
        margin: 0px;
        gap: 10px;
        max-height: $max-height-users;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2ECCFA;
        }
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border: 2px solid #001529;
        }
    }
    &__users-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        width: 100%;
        height: 60px;
        padding: 10px;
    }
    &__users-item-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__users-item-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__chat {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px;
        gap: 10px;
    }
    &__chat-messages-content {
        background: #001529;
        padding: 40px 40px 40px 0px;
    }
    &__chat-messages {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-height: $max-height-chat;
        overflow-y: auto;
        padding-top: 40px;
        padding-left: 40px;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2ECCFA;
        }
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border: 2px solid #001529;
        }
    }
    &__chat-messages-item {
        position: relative;
        width: auto;
        display: inherit;
        max-width: 400px;
    }
    &__chat-messages-item-image {
        position: absolute;
        top: -20px;
        left: -20px;
    }
    &__chat-messages-item-content {
        background: white;
    }
    &__chat-input-content {
        background: #001529;
        display: grid;
        padding: 5px;
        grid-template-columns: 6fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    &__chat-input-content-btn {
        display: flex;
        background: #001529;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}


/* utilities */

.f-white {
    color: white;
    margin-bottom: 0px;
}

.message {
    padding: 10px 20px;
    margin-bottom: 0px;
    word-break: break-all;
}

.active {
    background-color: #87d068;
}

.not-active {
    background-color: #F55050;
}